.navMenu{
  margin:0;
  list-style-type: none;
  padding: 0;
  background-color: rgb(50,50,50);
  overflow: hidden;
  width: 100%;
  height: 40px;
}
.navMenu li{
  float: right;
}
.navMenu a{
  font-size: 13.5px;
  text-decoration: none;
  color: white;
  display: block;
  padding: 12px 16px;
  text-align: center;

}
.navMenu li:hover{
  background-color: black;
}
#kuproday{
  font-size: 50px;
  text-decoration: none;
  color: rgb(50,50,50);
  font-weight: bold;
  font-family: purisa;
  margin: 60px;
  margin-right: 70px;

}
.navigation{
  width: 100%;
  height: 140px;
  background-color: rgb(240,240,240);
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  border-bottom: 8px solid rgb(50,50,50);
  border-top: 8px solid rgb(50,50,50);
}
.aboutUs a{
  font-size: 14px;
  text-decoration: none;
  color: rgb(50, 50, 50);
  margin: 6px;
  display: inline-block;
  width: 65px;
  text-align: center;
}
.aboutUs a:hover{
  color: black;
  text-decoration: underline;
}
.dropdown{
  display: inline-block;
  position: relative;
  margin: 8px;
}
#dropbtn{
  background-color: rgb(50,50,50);
  color: white;
  padding: 13px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 7px;
  width: 180px;
  height: 45px;
  font-family: helvetica;
}

.dropdown-content a{
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
input[type=search]{
  width: 220px;
  height: 36px;
}
input[name=searchButton]{
  width: 40px;
  height: 35px;
  border: none;
  background-color: rgb(50,50,50);
  color: white;
  border-radius: 0 5px 5px 0;
  background-image: url('images/searchicon.png');
  background-position: 5px 5px;
  background-repeat: no-repeat;
  background-size: 27px;
  margin-left: -25px;
  margin-bottom: -12px;

  cursor: pointer;
}
input[name=searchButton]:hover{
  background-color: black;
}
.search{
  margin-top: 30px;
  margin-left: -100px;
  margin-right: 60px;
}

.createAd a{
  font-size: 15px;
  display: inline-block;
  background-color: rgb(50,50,50);
  color: white;
  margin-left: 80px;
  width: 150px;
  height: 35px;
  border-radius: 5px;
  font-family: helvetica;
  text-decoration: none;
  text-align: center;
  padding-top: 16px;
}
.createAd a:hover{
  background-color: black;
}

.vipAds{
  width: 100%;
  height: 200px;
  border: 1px solid red;
}

.ads{
  width: 100%;
  height: 500px;
  border: 1px solid red;
  margin-top: 20px;
}

.footer{
  width: 100%;
  height: 250px;
  background-color: rgb(240,240,240);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerInformation{
  width: 300px;
  height: 150px;
}

.footerInformation a{
  font-size: 14px;
  display: block;
  text-decoration: none;
  color: black;
}

.social a{
  display: inline-block;
}

.footerInformation img{
  margin: 10px;
  margin-right: 5px;
  margin-left: 15px;
}

.footerInformation a:hover{
  color: blue;
}

.newAd{
  display: flex;
  justify-content: center;
  margin: 30px;
}

.chooseImg{
  margin-right: 50px;
  text-align: center;
}



.newAd input[type="text"], input[type="number"]{
  width: 500px;
  height: 25px;
  margin-top: 5px;
  margin-bottom: 25px;
}
textarea{
  margin-top: 5px;
  margin-bottom: 25px;
  resize: vertical;
}

.newAd input[name="description"]{
  width: 500px;
  height: 70px;
}

.newAd input[type="number"]{
  width: 250px;
}
.newAd input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.newAd input[type="button"], input[type="submit"]{
  width: 130px;
  height: 30px;
  border: none;
  background-color: rgb(50,50,50);
  color: white;
  border-radius: 5px;
}

.newAd input[type="button"]:hover, input[type="submit"]:hover{
  background-color: black;
  cursor: pointer;
}
